  



  .hero-content {
    background-color: #2F1D57;
    padding: 100px 0;
    background: #2F1D57;
    color: white;
  }
 
  .hero-content h1 {
    font-size: 70px;
    margin-bottom: 50px;
    font-weight: 300;
    color: white;
  }
 
  .selling-points {
    padding: 100px 0;
  }
 
  .selling-points .point h5 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    height: 85px;
    color: white;
  }
 
  .selling-points .point p {
    font-size: 14px;
    color: white;
    text-align: center;
  }
.hidden {
    opacity: 0;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@-webkit-keyframes fadeIn {
  0% {
    // transform: scale(0);
    opacity: 0;   
  }
  100% {
    // transform: scale(1);
    opacity: 1; 
  }
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 400px;
  height: 400px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  // backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
 
.slideRight{
  animation-name: slideRight;
  -webkit-animation-name: slideRight; 

  animation-duration: 1s; 
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-in-out; 
  -webkit-animation-timing-function: ease-in-out;   

  visibility: visible !important; 
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-200%);
  }
  50%{
    -webkit-transform: translateX(8%);
  }
  80%{
    -webkit-transform: translateX(-4%);
  }
  95%{
    -webkit-transform: translateX(4%);
  }     
  100% {
    -webkit-transform: translateX(0%);
  }
}


